HELP.md
/target/
/logs
!.mvn/wrapper/maven-wrapper.jar

### STS ###
*.apt_generated
*.attach**
.classpath
*.factorypath
*.project
*.settings
*.springBeans
*.sts4-cache
*.bak*
*.log*
*.lock*
*.install*
*.markers*
*.metadata*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
